name: Python publish package
on:
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-testpypi:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: 'latest'
          python-version: '3.8'  # use the oldest supported Python version for publishing
          enable-cache: true

      - name: Build Package
        run: |
          uv build

      - name: Upload dist artefact
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/*

      - name: Publish package distributions to Test-PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-pypi:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    needs: build-and-testpypi

    steps:
      - name: Download dist artefact
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
